.userinfo {
    margin: 70px auto 0 auto;
    width: 90%;
}

form {
    width: 100%;
}

.userinfo-title {
    font-family: Raleway, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 29px;
    font-style: normal;
    font-weight: 200;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}

.userinfo-text {
    font-family: Raleway, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 6px;

}

input, select {
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
  }
input:focus, select:focus {
    border: 1px solid #215CA3;
}

input.invalid, select.invalid {
    font-family: Raleway, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid red;
}
input.invalid:focus, select.invalid:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
}

.input-full-length {
    width: 100%;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    margin-top: 18px;
}

.input-street {
    width: 73%;
    height: 51px;
    margin-right: 0;
    margin-top: 18px;
}

.input-nr {
    height: 51px;
    float: right;
    width: 25%;
    margin-top: 18px;
}

.input-country {
    margin-top: 18px;
    margin-bottom: 18px;
    width: 100%;
    height: 51px;
}

.input-zipcode {
    width: 53%;
    height: 51px;
}

.input-city {
    width: 45%;
    height: 51px;
    float: right;
}

.email-notice {
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 5px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.userinfo-submit {
    width: 100%;
    height: 46px;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    background-color: #35E518;
    border: none;
    margin-bottom: 40px;
    margin-top: 20px;
}

.validation-text {
    color: red;
}

.validation-text.nr {
    float: right;
}
.validation-text.city {
    float: right;
}

@media (min-width: 769px) { 
    .input-street {
        width: 73%;
    }
}