.c-present {
    width: 100%;
    max-width: 1240px;
    margin: 80px auto;
    font-family: Raleway, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.c-present-content {
    padding: 0 30px;
}

.c-present-content__title {
    margin: 5px 0;
    font-size: 28px;
    font-weight: 800;
    line-height: 38px;
}

.c-present-content__text, .c-present-content__notice {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}

.c-present-form {
    padding: 15px 30px 0;
    display: flex;
    flex-direction: column;
}

.c-present-form-btn {
    padding: 0;
    border: 10px solid #ffffff;
    max-width: 500px;
    margin: 15px 0;
}

.c-present-form-btn:hover, .c-present-form-btn:focus{
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border: 10px solid #35E618;
}

.c-present-form-btn-cnr {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.c-present-form-btn-cnr__image {
    width: 260px;
    height: 160px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.image-sd {
    background-image: url('../../assets/images/SD-kaart.png');
}

.image-mousepad {
    background-image: url('../../assets/images/muismat.jpg');
}

.c-present-form-btn-cnr__text {
    margin: 0;
    font-size: 20px;
    font-weight: 800;
    line-height: 26px;
    padding-top: 30px;
}

@media (min-width: 768px) {  
    .c-present-form {
        flex-direction: row;
    }  

    .c-present-form-btn {
        margin: 0;
    }
    
    .c-present-form-btn-cnr {
        padding: 60px 40px;
    }

    .c-present-form-btn-cnr__image {
        width: 250px;
        height: 150px;
    }

    .c-present-content {
        padding: 15px 30px;
    }

    .c-present-content__title {
        font-size: 30px;
        line-height: 40px;
    }
    
    .c-present-content__text, .c-present-content__notice {
        font-size: 20px;
        line-height: 26px;
    }
}

@media (min-width: 992px) {  
    .c-present-form-btn-cnr__image {
        width: 300px;
        height: 200px;
    }
}