.present {
    margin: 81px auto 0 auto;
    width: 90%;
}

.present-title {
    font-family: Raleway, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 200;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
}

.present-text {
    font-family: Raleway, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 24px;

}

.sd-button {
    border: 0;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 29px;
}

.sd-wrapper {
    height: 224px;
    width: 273px;
    background-color: white;
}

.sd-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.sd-image {
    width: 126px;
    height: 94px;
}

.mousepad-button {
    border: 0;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mousepad-wrapper {
    height: 224px;
    width: 273px;
    background-color: white;
}

.mousepad-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.mousepad-image {
    width: 126px;
    height: 94px;
}

.image-text {
    font-family: Raleway;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;  
    margin: 0;
    display: flex;
    justify-content: center;
    height: 20%;
}

.present-notice {
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: 0em;
    text-align: center;
    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* input {
    opacity: 0;
    visibility: hidden;
  } */